/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base
   ========================================================================== */

html {
  color: #222;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
img {
  width: 100%;
}

/* ==========================================================================
   Layout
   ========================================================================== */
main{
  text-align: center;
}
/*HEADER*/
.page_header> button{
  display: none;
}
.mobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: .5em;
}
.hamburger{
  width:60px;
  margin: .5em;
}
img.logo{
  width: 100%;
  top:4px;
  position: relative;
} 
.logo{
  max-width:180px; 
}
.page_navbar{
  display:none;
}
/*SLIDER*/
.slider{
  display: none;
}
h1{
  font-weight: lighter;
  font-size: 26px;
  width: 100%;
}
.metrolics{
  color: #29b0e6;
}

/*FOOTER
footer{
  background-color: #16242f;
  padding-left: 15%;
  padding-right: 15%;
  margin-top:25px;
  height: fit-content;
}
footer p{
  color: white;
}

.divider hr{
  margin: 0;
  border-top: 0;
  border-bottom: 1px solid #CF6A66;
  width: 100%;
}
.arrow_down {
  margin-left: 25px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #CF6A66;
} */
/*AUTHOR
.author{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:25px;
}
.author span{
  font-weight: bolder;
  display: block;
  padding-bottom: 10px;
  font-style: normal;
}
.author p{
  margin-left:35px;
  font-style: italic;
}
.author img{
  height: 150px;
  width: 123px;
  border-radius: 50%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(1,100%);
  justify-content: center;
}
/*ABOUT US
.about_us button{
  width: 50px;
  height: 50px;
  border: none;
}
.about_us img{
  width: 100%;
  height: auto;
}
.about_us > div{
  display: none;
}

.about_us .social_media{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.facebook{
  background-color: #5A7BBE;
}
.googlePlus{
  background-color: #D5694E;
}
.twitter{
  background-color: #4DAEDD;;
}
.instagram{
  background-color: #E5719A;
}
.wifi{
 background-color:#F1A83B ;
}
.flickr{
  display: none;
}
/* RECENT TWEETS
.recent_tweets{
  width: 100%;
}
.tweet{
  display: flex;
  flex-direction: row;
  align-items:  center;
}
.tweet a{
  text-decoration: none;
  color: #4DAEDD;
  font-weight: bolder;
}
.tweet img{
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 25px;
}

/*NEWSLETTER
.newsletter{
  display: none;
}

/* Medium and up 
@media screen and (min-width: 40em) {
  /page-header
  body{
  text-align: center;
}
.logo{
  width: 90%;
}
.page_header{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.page_navbar{
  display: flex;
  flex-direction: row;
  width: 750px;
}
.page_navbar > button{
  border: none;
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.icon_nav{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
}
.icon_nav > img{
  margin-left: auto;
  margin-right: auto
}
.btn_bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.chevron{
  width: 20px;
  height: 20px;
  transform: scaleX(-1);
}
.btn_home{
  background-color: green;
}
.btn_pages{
  background-color: orange;
}
.btn_blog{
  background-color: tomato;
}
.btn_portfolio{
  background-color: darkcyan;
}
.btn_contact{
  background-color: darkblue;
}

  img.hamburger{
    display: none;
  }
  .page_navbar > button{
    max-width: 70%;
  }
  .products{
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,33%);
  }
  
  .wrapper{
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2,50%);
    grid-gap: 15px;
  }
  .things_of_above {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
  }
  .things_of_above img{
    width: 100%;
    height: auto;
  }
  .extras{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .software{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
  }
  
  .software img{
    height: auto;
    margin-top: 25px;
  }
  
  .about_us hr{
    border-bottom: 1px solid #5EC08D;
  }
  .about_us .arrow_down{
    border-top: 10px solid #5ec08d;
  }
  .about_us > div {
    display: block;
  }
  .social_media{
    margin-bottom: 0;
  }
  .flickr{
    display: inline;
  }
  .flickr hr{
    border-bottom: 1px solid #EFBB42;
  }
  .flickr .arrow_down{
    border-top: 10px solid #EFBB42;
  }
  .flickr_photos{
    padding-top:20px;
    display: grid;
    grid-gap:1%;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3,33%);
  }
  .flickr_photos img{
    width: 100%;
  }
  .newsletter{
    display: inline;
  }
  .form{
    width:100%;
    display: flex;
    flex-direction: row;
  }
  
  .newsletter .input{
    background-color: #db6662;
    width: 75%;
    height: 25%;
    display: inline;
    padding: 5% 35% 5% 2%;
    color: white;
  }
  .newsletter hr{
    border-bottom: 1px solid #50ABE1;
  }
  .newsletter .arrow_down{
    border-top: 10px solid #50ABE1;
  }
  .newsletter img{
    width: 17%;
    background-color:#F5BB41;
  }
  .footer_squares{
    text-align: center;
  }
  .footer_squares img{
    width: 100%;
    margin-top: 25px;
  }
  
}


Large and up
@media screen and (min-width: 64em) {
img.hamburger{
  display: none;
}





/* FOOOTER THINGGZ
.extras{
  flex-direction: row;
  width: 65%;
}
.wrapper{
  grid-template-rows: repeat(1, 100%);
  grid-template-columns: repeat(4, 25%);
  grid-gap: 15px;
} 
.footer_squares{
  text-align: right;
}
.footer_squares img{
  width: 50%;
}
}


/* slider
.slider{
  width: 100%;
  height: 300px;
}

.minionbanner{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn_chevron{
  z-index: 3;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  height: 300px;
}

button.chevron_left, button.chevron_right{
  border-radius: 50%;
  border: white 2px solid;
  background: url(/img/icons/chevron.png) no-repeat;
  background-color: #b3d4fc;
  background-size: 100%;
  width: 50px;
  height: 50px;
}
button.chevron_right{
  transform: scalex(-1);
}
 
.slider_content{
  position: absolute;
  align-self: center;
  width: 100%;
  height: 300px;
  z-index: 2;
  display: flex;
}
.contents{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: lightgrey;
  float:left;
  height: 100px;

}
.content1{
  border-left: cyan 2px solid
}

.content2{
  border-left: tomato 2px solid
}

.content3{
  border-left: orange 2px solid
}

.pages{
  display: flex;
  width:100%;
  flex-direction:row;
  justify-content: space-between;
}
.blog{
  display: flex;
  width:100%;
  flex-direction:row;
  justify-content: space-between;
}
.portfolio{
  display: flex;
  width:100%;
  flex-direction:row;
  justify-content: space-between;
}

.chevron{
  transform: scaleX(-1);
}

.btn_home{
  background-color: green;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn_pages{
  background-color: orange;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_blog{
  background-color: tomato;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_portfolio{
  background-color: darkcyan;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_contact{
  background-color: darkblue;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav_iconbackground{
  width: 50px;
  height: 50px;
  background-color: white;
  opacity: 50%;
  border-radius: 50%;
}
.nav_icon{
  width:30%;
  height: 30%;
}

/* section_services 

h3{
  font-weight: normal;
}


section.services{
  display: flex;
  flex-direction: row;
}

div.service_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}

.service_container span{
  font-weight: bold;
}

.lightbulb{
  border: 2px solid orange;
  width: 50%;
  margin-bottom: 1em;
}

.photography{
  border: 2px solid green;
  width: 50%;
  margin-bottom: 1em;
}

.settings{
  border: 2px solid pink;
  width: 50%;
  margin-bottom: 1em;
}

.pencil{
  border: 2px solid darkcyan;
  width: 50%;
  margin-bottom: 1em;
}

/* section blog 
.section_blog{
  display: flex;
  flex-direction: row;
}

div.blog_content{
  width: 800px;
  height: 300px;
  display: flex;
}
.entry_date{
  background: tomato;
  color: white;
  width: fit-content;
  padding: 10px;
}

.day{
  font-weight: bold;
}

.entry_description{
  background-color: skyblue;
  color: white;
  float: left;
  padding: 10px;
  width: 100%;
  
}

.descrption_title{
  font-weight: bold;
  font-size: larger;
}

.camera{
  background: url(/img/icons/camera.png) no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100%
}















/* ==========================================================================
   Modules 
   ========================================================================== */




   /* ==========================================================================
   Theme 
   ========================================================================== */





/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

